@use 'base-components.scss';
@use 'transitions.scss';
@use './fonts.scss';

* {
  font-family: var(--default-fonts);
  -webkit-tap-highlight-color: transparent;
  @apply antialiased;
  @apply box-border;
}

:root {
  --max-width: 1200px;
}

html {
  background: rgb(var(--bg-color));
  overflow: hidden;
}

body {
  overflow-y: auto;
  max-height: 100dvh;
  scrollbar-width: thin;
  scrollbar-gutter: stable both-edges;
}

html.light {
  --bg-color: 255 255 255;
  --text-color: 0 0 0;
}

html.dark {
  --bg-color: 0 0 0;
  --text-color: 255 255 255;
  color-scheme: dark;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
  mix-blend-mode: normal;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.v-popper__popper {
  z-index: 10000;
  top: 0;
  left: 0;
  outline: none
}

.v-popper__popper.v-popper__popper--hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s,visibility .15s;
  pointer-events: none
}

.v-popper__popper.v-popper__popper--shown {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s
}

.v-popper__popper.v-popper__popper--skip-transition,.v-popper__popper.v-popper__popper--skip-transition>.v-popper__wrapper {
  transition: none!important
}

.v-popper__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none
}

.v-popper__inner {
  position: relative;
  box-sizing: border-box;
}

.v-popper__inner>div {
  position: relative;
  z-index: 1;
  max-width: inherit;
  max-height: inherit
}

.v-popper__arrow-container {
  display: none;
}

.v-popper--theme-tooltip .v-popper__inner {
  @apply dou-sc-autoborder;
  background: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  border-radius: 16px;
  padding: 2px 8px 2px 8px;
  font-size: 14px;
  box-shadow: 0 2px 10px rgb(var(--text-color) / 10%);
}
