.blur-fade-enter-active {
  transition:
    opacity 0.15s ease-out,
    filter 0.15s ease-out,
    transform 0.15s ease-out;
}

.blur-fade-leave-active {
  transition:
    opacity 0.15s ease-in,
    filter 0.15s ease-in,
    transform 0.15s ease-in;
}

.blur-fade-enter-from,
.blur-fade-leave-to {
  opacity: 0;
  filter: blur(20px);
  transform: translateY(10px);
}

.blur-fade-enter-to,
.blur-fade-leave-from {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s linear;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.blur-fade-enter-to,
.blur-fade-leave-from {
  opacity: 1;
}
